html,
body {
  font-family: var(--app-font-family);
  background-color: var(--app-main-bg-color);
  font-size: var(--app-font-size);
}

:root {
  --app-font-size: 16px;
  --app-font-family: "Rubik", sans-serif;
  --app-main-bg-color: #f5f5f5;
}

// VCalendar
// SASS variables from here:
// https://github.com/nathanreyes/v-calendar/blob/v3/src/styles/theme.css

.vc-container .vc-week {
  height: 78px;
  font-family: var(--app-font-family);
  .vc-day-content {
    font-size: var(--vc-text-base);
  }
}
