html,
body {
  font-family: var(--app-font-family);
  font-size: var(--app-font-size);
}

a {
  cursor: pointer;
}

.default-layout {
  background-color: var(--app-main-bg-color);
}

:root {
  --app-font-size: 16px;
  --app-font-family: "Rubik", sans-serif;
  --app-main-bg-color: #f5f5f5;
  --app-orange: #f4511e;
  --app-yellow: #eab308;
  --app-light-blue: #008ffb;
}

.main-content {
  height: 100vh;
}

// Schedule-x Calendar
// https://schedule-x.dev/

#full-calendar {
  height: 95%;
  // .sx__month-grid-day {
  //   cursor: pointer;
  // }
}

.calendar-add-event-btn {
  border: 2px solid #1867c0;
  background-color: #1867c0;
  padding: 0px 8px;
  color: white;
  border-radius: 4px;
  height: 100%;
}
